/* Common */

body {
  margin: 0;

  font-family: Tahoma, sans-serif;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;

  border-radius: 20px;
  padding: 15px;

  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.8);

  text-align: center;
  color: #fff;
}

/* Game */

.game {
  box-sizing: border-box;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
}

.playground {
  position: relative;

  width: 100%;
  height: 648px;

  background: #b7ffff;
}

.state-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  height: 120px;
  padding: 10px;

  background-color: #28adad;
}

.state-panel .logo {
  width: 48px;
  height: 100px;
}

.counters {
  display: flex;
  justify-content: space-around;

  width: 100%;
  padding: 0 10px;
}

.counter {
  box-sizing: border-box;
  width: 90px;
  height: 70px;
  margin: 0;
  padding: 15px;
  border: 1px solid #00000065;

  text-align: center;

  background-color: #ececec;
}

.counter-hint {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.counter-value {
  margin: 0;
}

.toggler {
  width: 70px;
  height: 70px;
}

.buttons {
  display: flex;
  justify-content: space-around;

  width: 100%;
}

.toggler {
  border: none;
  border-radius: 10px;

  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #353535;

  transition: 0.3s;
  cursor: pointer;
}

.toggler:hover {
  opacity: 0.8;
}

.toggler:active {
  opacity: 0.6;
}

.sound-toggler {
  background-image: url(../images/sound-off.png);
}

.pause-toggler {
  background-image: url(../images//pause.png);
}

.fontsize-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;

  background-color: #fff;

  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

/* Objects */

.object {
  position: absolute;
}

.plane {
  width: 100px;
  height: 38px;
}

.cloud {
  width: 77px;
  height: 54px;
}

.bird {
  width: 46px;
  height: 50px;

  background-image: url(../images/birds.png);
}

.star {
  width: 40px;
  height: 38px;
}

.parachute {
  width: 50px;
  height: 66px;
}
